:root {
  --color-text-light: #e2e8f0;
  --color-text: #d4d4d8;
  --color-text-dark: #71717a;
  --color-background-light: #27272a;
  --color-background-medium: #18181b;
  --color-background-dark: #09090b;
  --color-cyan: #0891b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 2.5rem;
  background-color: var(--color-background-dark);
  color: var(--color-text);
  overflow: hidden;
}

.box::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
