.loginpage {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.7),
      rgba(36, 42, 46, 0.7)
    ),
    url("/soundwavebg.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.loginpage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loginpage h1 {
  font-size: 7rem;
  color: var(--color-text-light);
}

.loginpage h2 {
  width: 90%;
  font-size: 4rem;
  color: var(--color-text-light);
  margin-bottom: 2.5rem;
}

button {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--color-cyan);
  color: var(--color-text-light);
  padding: 0.5em 1em;
  border: 1px solid var(--color-cyan);
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px rgb(8, 145, 178);
}

/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 480px) {
  .loginpage h1 {
    font-size: 3rem;
  }

  .loginpage h2 {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1rem;
  }
}

/* Small Screen */
@media (min-width: 481px) and (max-width: 640px) {
  .loginpage h1 {
    font-size: 4rem;
  }

  .loginpage h2 {
    font-size: 2rem;
  }

  .button {
    font-size: 1.25rem;
  }
}

/* Base Screen */
@media (min-width: 641px) and (max-width: 800px) {
  .loginpage h1 {
    font-size: 5rem;
  }

  .loginpage h2 {
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.5rem;
  }
}

/* Large Screen */
@media (min-width: 801px) and (max-width: 1025px) {
  .loginpage h1 {
    font-size: 5.5rem;
  }

  .loginpage h2 {
    font-size: 3rem;
  }
}

/* Extra Large Screen */
@media (min-width: 1026px) and (max-width: 1280px) {
  .loginpage h1 {
    font-size: 6.5rem;
  }

  .loginpage h2 {
    font-size: 3.5rem;
  }
}
