.track div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.track img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.track h3 {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  color: var(--color-text-light);
  gap: 1rem;
}

.track p {
  font-size: 1.3rem;
  color: var(--color-dark);
  font-style: italic;
}

.trackbutton {
  border-radius: 50%;
  font-size: 1.4rem;
}
